BasedOnStyle: LLVM

Language: Cpp
Standard: c11

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false

IndentCaseLabels: false
IndentCaseBlocks: false

PointerAlignment: Right
ReferenceAlignment: Right

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true

SortIncludes: false
IncludeBlocks: Preserve

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

ContinuationIndentWidth: 4

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

ReflowComments: true