[submodule "external/cmsis"]
	path = external/cmsis
	url = https://github.com/ARM-software/CMSIS_6
[submodule "external/g2basic"]
	path = external/g2basic
	url = https://github.com/grzegorz-grzeda/g2basic.git
[submodule "external/doxygen-awesome-css"]
	path = external/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "external/littlefs"]
	path = external/littlefs
	url = https://github.com/littlefs-project/littlefs.git
